body {
    background-color: black;
    color: #E6E1DF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    transition: box-shadow 0.3s;
    background-color: black;
    cursor: default;
}
.product-card .added-to-cart-button {
    background-color: #28a745; 
    color: white;
    cursor: not-allowed; 
}

.product-card .added-to-cart-button:hover {
    background-color: #218838; 
}


.product-card:hover {
    box-shadow: 0 4px 20px rgba(255, 0, 0, 0.5);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-title {
    font-size: 1.2em;
    margin: 10px 0;
    color: #E6E1DF;
}

.product-info {
    color: #ccc;
}

.price-section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 8px 0;
}

.final-price {
    font-weight: bold;
    color: #E6E1DF;
}

.original-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 8px;
}

.ratings {
    margin-top: 8px;
    color: red;
}

.view-details-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-details-button:hover {
    background-color: darkred;
}

.added-to-cart-button {
    background-color: #28a745;  
    color: white;
    cursor: not-allowed;  
}

.added-to-cart-button:hover {
    background-color: #218838;  
}

.products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

.browse-all-card {
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    text-decoration: none;
}

.browse-all-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.browse-all-card h4 {
    margin: 10px 0;
    color: #E6E1DF;
}
.browse-all-card .view-details-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.browse-all-card .view-details-button:hover {
    background-color: red;
}

.product-link {
    text-decoration: none;
}

.product-link:hover {
    text-decoration: none;
}

/* Media query for responsiveness on smaller screens */
@media (max-width: 768px) {
    .products-container {
        padding: 10px;
    }

    .product-card {
        margin: 8px;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}